body{
    margin: 0;
    position: relative;
    top: 5vw;
}

.maincontainerartikel{
    height: auto;
}

.maincontainerartikel h1{
    font-size: 3.5vw;
    padding: 2.5vw 0;
    text-align: center;
    color: #548235;
}

.subcontainerartikel{
    margin: auto;
    margin-bottom: 5VW;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
}

.artikel{
    height: 15vw;
    width: 100%;
    margin: 1vw auto;
    border: black 1px solid;
    display: flex;
}

.artikel .imageartikelcontainer{
    height: 90%;
    width: 25%;
    margin: auto 1vw ;
}

.artikel .imageartikelcontainer img{
    height: 100%;
    width: 100%;
}

.artikel .contentartikelcontainer{
    position: relative;
    height: 90%;
    width: 75%;
    margin: auto 1vw ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artikel .contentartikelcontainer h2{
    padding: 0;
    text-align: left;
}

.tanggal{
    display: flex;
}

.tanggal p{
    margin-right: 1vw;
}


.link a{
    display: inline-block;
    padding: 1vw;
    margin-right: 1vw;
    background-color:#548235;
    bottom: 0;
    text-decoration: none;
    border-radius: 0.25vw;
    color: white;
}
