* {
    margin: 0;
    font-family: "League Spartan", sans-serif;
}

nav {
    opacity: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    transition: all 0.5s;
    height: 5vw;
    z-index: 1;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 2.5%;
}

.logo img {
    height: 3.5vw;
    width: 4vw;
}

.logo p {
    font-size: 1.2vw;
    margin-left: 10px;
}
.logo a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}

nav ul li {
    list-style: none;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
.nav-item a.active {
    text-decoration: none;
    color: rgb(0, 151, 81);
    font-size: 1.2vw;
}
nav .menu-icon {
    display: none;
}
.hover {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.925);
    z-index: 1;
    transform: translatex(100%);
    transition: ease-in-out 0.5s;
    top: 5vw;
    height: 100VH;
}
.hover li {
    list-style: none;
    padding: 10px;
}

.hover li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    nav {
        height: 10vw;
    }

    nav ul {
        display: none;
    }

    .logo p{
        font-size: 2vw;
    }

    .hover .nav-item a {
        font-size: 2vw;
    }
    nav .menu-icon {
        display: flex;
        z-index: 3;
    }
    .hover {
        top: 10vw;
    }

    .hover.hidden {
        transform: translateY(0%);
    }
}
