/* berita.css */

.pagination {
    margin: 2.5vh;
    display: flex;
    justify-content: center;
}

.pagination .pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination .pagination-list .page-item {
    margin-right: 5px;
}

.pagination .pagination-list .page-item .page-link {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition:  0.3s;
    cursor: pointer;
}

.pagination .pagination-list .page-item .page-link:hover {
    background-color: #eee;
}

.pagination .pagination-list .page-item.active .page-link {
    background-color: #548235;
    color: #fff;
}
