*{
    margin: 0;
}
body{
    position: relative;
    top: 5vw;
}
a{
    text-decoration: none;
    color: black;
}

.container-program{
    height: auto;
    min-height: 60vh;
    width: 100%;
    display: flex;
    margin: 5vw 0 0 0;
}

.container-program .nav{
    width: 20%;
    background-color: #ECECEC;
}


.container-program .content{
    width: 90%;
    margin: 0 2.5vw 0 2.5vw;
}

.container-program .nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10%;
    width:70%;
    margin: auto;
}
.container-program .nav ul li{
    margin-bottom: 1.5vw;
}

.container-program .nav ul li a{
    text-decoration: none;
    font-size: 1.3vw;
    border: none;
    color: black;
    transition: ease-in-out 0.25s;
}

.container-program .nav ul li .active{
    color:#548235;
}

.container-program .content h1{
    color: #548235;
    height: 0 5vw;
    width: auto;
    padding-bottom: 1vw;
    display: flex;
    align-items: center;
    font-size: 2vw;
    border-bottom: solid 0.3vh rgba(0, 0, 0, 0.192);
}

.container-program .content .listparagraf{
    padding: 2.5vw;
}

.container-program .content .listparagraf img{
    width: 50%;
    height: 30%;
    margin-bottom: 1vw;
}

.container-program .content .listparagraf p{
    text-align: justify;
    padding-bottom: 1vw;
    font-size: 1.5vw;
}

/* produk */
.container-program .content .listprodukkomunitas{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.listprodukkomunitas .produk{
    height: 40%;
    width: 30%;
    margin-bottom: 2.5vw;
}

.produk h2{
    color: #548235;
    font-size: 2vw;
}
.produk img{
    width: 100%;
    height: 60%;
    margin: 1vh 0;
    border: solid 1px black;
}

.produk p{
    font-size: 1.5vw;
    width: 100%;
    text-align: justify;
}
/* hover */

.container-program .nav ul li a:hover{
    color: #548235;
}

@media only screen and (max-width: 900px){
    body{
        top: 10vw;
    }
    .container-program .content .listparagraf img{
        width: 100%;
    }
    .container-program .content .listparagraf p{
        font-size: 2.5vw;
    }
    .container-program .nav ul li a {
        font-size: 2vw;
    }
    .container-program .nav{
        width: 30%;
    }
}
